{% extends 'layout.html' %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}
    <h1><i>Welcome to URL Shortening application.</i></h1>

    <form action="" method="post">
        <input type="text" name="in_long" style="height:40px; width:800px; border-radius: 0 2em; padding: 0 10px;" placeholder="Enter Original URL here">
        <button style="height:40px; width:100px; border-radius: 0 2em; padding: 0 10px;background-color:black; color:white"> <b><i>Shorten</i></b></button><br><br>
    </form>
    <form>
        <input type="text" value="{{s}}" id="in_short" style="height:40px; width:800px; border-radius: 0 2em; padding: 0 10px;" placeholder="Short URL will be displayed here">
        <button onclick="myFunction()" style="height:40px; width:100px; border-radius: 0 2em; padding: 0 10px;background-color:black; color:white"> <b><i>Copy url</i></b></button>
    </form>

    <script>
        function myFunction() {
            var copyText = document.getElementById("in_short");
            copyText.select();
            navigator.clipboard.writeText(copyText.value);
            alert("Copied the text: " + copyText.value);
        }
    </script>
{% endblock %}